* {
  box-sizing: border-box;
}

html {
  font-size: 36px;
}
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.posAbs {
  position: absolute;
}

#solarsystem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sunContainer {
  position: relative;
}

#sunImage {
  animation: rotation 300s infinite linear;
  /*sun rotation*/
}

.mercuryContainer {
  bottom: -1em;
  right: 1em;
}

#mercuryImage {
  animation: rotation-1 80s infinite linear;
  /*mercury rotation*/
}

.venusContainer {
  top: -1em;
  right: -3em;
}

#venusImage {
  animation: rotation-2 90s infinite linear;
  /*venus rotation*/
}

.earthContainer {
  top: -4em;
  left: -3em;
}

#earthImage {
  animation: rotation-3 60s infinite linear;
  /*earth rotation*/
}

.moonContainer {
  top: -1em;
  right: 0em;
}

#moonImage {
  animation: rotation-4 120s infinite linear;
  /*moon rotation*/
}

.marsContainer {
  bottom: 1em;
  left: -7em;
}

#marsImage {
  animation: rotation-5 70s infinite linear;
  /*mars rotation*/
}

.jupiterContainer {
  bottom: -4em;
  right: -8em;
}

#jupiterImage {
  animation: rotation-6 10s infinite linear;
  /*jupiter rotation*/
}

.saturnContainer {
  top: -5em;
  right: -15em;
}

#saturnImage {}

.uranusContainer {
  top: -1em;
  left: -12em;
}

#uranusImage {
  animation: rotation-7 40s infinite linear;
  /*uranus rotation*/
}

.neptuneContainer {
  bottom: -5em;
  left: -16em;
}

#neptuneImage {
  animation: rotation-8 50s infinite linear;
  /* neptune rotation */
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-1 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-2 {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotation-3 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-4 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-5 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-6 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-7 {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotation-8 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 927px) {

  html {
    font-size: 10px;
}
.jupiterContainer {
  bottom: -12em;
  right: -7em;
}

.saturnContainer {
  top: -16em;
  right: -7em;
}

.uranusContainer {
  top: -22em;
  left: -6em;
}

.neptuneContainer {
  bottom: -22em;
  left: 1em;
}
}

/*Mobile Screen Landscape Mode*/
@media (orientation: landscape) and (max-width: 927px) {

  .saturnContainer {
    top: -10em;
    right: -22em;
  }

  .uranusContainer {
    top: -1em;
    left: -20em;
  }

  .neptuneContainer {
    bottom: -18em;
    left: -10em;
  }
  
}
