@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap'); /*heading font*/

@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap'); /*content font*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 36px;
}

body {
    background-image: url("/HTML/Images/Background/sky_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: white;
}

/*homepage nav start*/
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: blueviolet;
    border-radius: 5px;
    padding: 2px;
    font-family: 'Stoke', serif;
    font-size: 0.6em;
}

nav a:hover {
    background-color: blueviolet;
    color: black;
}
/*homepage nav end*/

main {
    display: grid;
    row-gap: 3%;
}

section {
    display: grid;
    justify-items: center;
    row-gap: 1%;
}

/* 10 need to know things start*/
ol{
    list-style:decimal inside;
}

ul{
    list-style: inside;
}
/* 10 need to know things end*/

.textAligner {
    text-align: center;
}

.heading, .subHeading{
    font-family: 'Modern Antiqua', cursive;
    font-weight: bold;
    font-size: 1em;
    justify-self: start;
    margin: 1%;
}

.subHeading{
    font-size: 0.8em;
}

.content {
    font-family: 'Stoke', serif;
    font-size: 0.6em;
    text-align: justify;
    margin: 1%;
}

/*hamburger menu for mobile devices*/
#hamburgerMenu{
    display: none;
    position: absolute;
    top: 0.4em;
    right: 0.7em;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.gifMaxW{
    max-width: 100%;
}

/* planets specific start*/
#pimg{
    padding: 0.5%;
    filter: brightness(1.1);
    animation: rotation 150s infinite linear;
}

#planetDataSection{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

table{
    font-size: 0.6em;
    background-color: rgba(66, 65, 65, 0.4);
    border-radius: 2%;
    border-collapse: collapse;
}

td{
    text-align: center;
    padding: 8px;
}
/* planets specific end*/

@keyframes rotation 
{
    from
    { -webkit-transform: rotate(0deg); }
    to
    { -webkit-transform: rotate(360deg); }
}

@media (max-width: 900px) {
    html {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 24px;
    }
    nav{
        display: none;
        flex-direction: column;
        align-items: center;
    }
    nav a{
        padding: 0.2em;
    }
    nav.active{
        display: flex;
    }
    .indexHeading{
        text-align: left;
        font-size: 0.9em;
    }
    #hamburgerMenu{
        display: flex;
    }
}