body
{
    background-image: url("/home/karthik/SolarSystemProject/SolarSystem/HTML/Images/sky_background.jpg");
    color: aliceblue;
}

img
{
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p
{
    text-align: justify;
    font-size: 30px;
}

h2
{
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
}

video
{
    height: 480px;
    width: 1080px;
    display: block;
    margin: auto;
}