body
{
    background-image: url("/home/karthik/SolarSystemProject/SolarSystem/HTML/Images/sky_background.jpg");
    color: aliceblue;
}

img
{
    height: 480px;
    width: 1080px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p
{
    text-align: justify;
    font-size: 30px;
}

h2
{
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
}