@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
/*heading font*/

@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap');
/*content font*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 32px;
}

body {
    display: grid;
    background-image: url("/HTML/Images/sky_bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: blueviolet;
    border-radius: 5px;
    padding: 2px;
    font-family: 'Stoke', serif;
    font-size: 0.6em;
}

nav a:hover {
    background-color: blueviolet;
    color: black;
}

main {
    display: grid;
    row-gap: 3%;
}

section {
    display: grid;
    justify-items: center;
    row-gap: 1%;
}

img{
    max-width: 100%;
}


.textAligner {
    text-align: center;
}

.heading, .subHeading{
    font-family: 'Modern Antiqua', cursive;
    font-weight: bold;
    font-size: 0.8em;
    justify-self: start;
    margin: 1%;
}


.subHeading{
    font-size: 0.7em;
    color: blueviolet;
}

.content {
    font-family: 'Stoke', serif;
    font-size: 0.6em;
    text-align: justify;
    margin: 1%;
}

#hamburgerMenu{
    display: none;
    position: absolute;
    top: 0.4em;
    right: 0.7em;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

@media (max-width: 630px) {

    html {
        font-size: 24px;
    }

    nav{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        padding: 0.2em;
    }

    nav.active{
        display: flex;
    }

    .textAligner{
        text-align: left;
    }

    #hamburgerMenu{
        display: flex;
    }
}