* {
  box-sizing: border-box;
  }

body { 
  margin: 0;
  font-family: georgia;
}
.sun{                         /*sun*/
  display: inline-block; 
  transform: scale(0.45);
  margin-left: 20%;
  filter: brightness(1.1);
  
}
#first{                      /*sun*/
  display: inline-block;
  top: 120px;
  cursor: pointer;
  
}

.mercury{                    /*mercury*/
  display: inline-block;
  transform: scale(0.1);
  position: relative;
  top: -650px;
  left: -620px;
  filter: brightness(1.4);
  
}

#second{
  display: inline-block;
  cursor: pointer;
  
 
}

#first {                                  /*sun rotation*/
  animation: rotation 450s infinite linear;
}

#second {
  animation: rotation-1 800s infinite linear;

}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}
 @keyframes rotation-1 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
  
 }