* {
  box-sizing: border-box;
  
  }
  #background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position:fixed;
    width: fit-content;
    height: fit-content;
    }
  
body { 
  margin: 0;
  position: relative;
  
}
.sun{                         /*sun*/
  display: inline-block; 
  transform: scale(0.50);
  filter: brightness(1.1);
  image-rendering: crisp-edges;
}
#first{                      /*sun*/
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 5in;
  left: 12.5in;
  
}

.mercury{                    /*mercury*/
  display: inline-block;
  transform: scale(0.1);
  
}

#second{                         /*mercury*/
  display: inline-block;
  cursor: pointer;
  position: absolute;
  
}
.venus{                               /*venus*/
  display: inline-block;
  transform: scale(1.3);
  
}
#third{                               /*venus*/
  position:absolute;
  display: inline-block;
  cursor: pointer;
}

.earth{                             /*earth*/
  display: inline-block;
  cursor: pointer;
  transform: scale(1.3);
}
#fourth{                           /*earth*/
  display: inline-block;
  position: absolute;
  top: 24in;
  left:70in;
}
.mars{                              /*mars*/
  display: inline-block;
  transform: scale(1.8);
}

#sixth{                              /*mars*/
  display: inline-block;
  position: absolute;
  cursor: pointer;
 
}

.jupiter{                           /*jupoter*/
  display: inline-block;
  cursor: pointer;
}
#seventh{                           /*jupiter*/
  display: inline-block;
  position:absolute;
 left: 100in;
}
.saturn{                            /*saturn*/
  display: inline-block;
  cursor: pointer;
  transform: scaleX(1.5);
  

}
#eight{                            /*saturn*/
  display: inline-block;
  position: absolute;
  left: 100in;
}
.uranus{                           /*uranus*/
  display: inline-block;
}
#ninth{                            /*uranus*/
  display: inline-block;
  position: absolute;

}
.neptune{                          /*neptune*/
  display: inline-block;

}
#tenth{                           /*neptune*/
  display: inline-block;
  position: absolute;
  
}
.moon{                  
display: inline-block;
transform: scale(0.45);
cursor: pointer;
}
#fifth{
  display: inline-block;
  position: relative;
  top: -17in;
  left: 78in;
}
#first {                                  /*sun rotation*/
  animation: rotation 450s infinite linear;
}

#second {                                 /*mercury rotation*/
  animation: rotation-1 10s infinite linear;

}

#third{                                   /*venus rotation*/
  animation: rotation-2 50s infinite linear;
}

#fourth{                                   /*earth rotation*/
  animation: rotation-3 50s infinite linear;
}
#fifth{
  animation: rotation-4 10s infinite linear;
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}
 @keyframes rotation-1 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
  
}
@keyframes rotation-2{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation-3 {
from{
  -webkit-transform: rotate(0deg);
}
to{
  -webkit-transform: rotate(360deg);
}

}
@keyframes rotation-4 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }

}