@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap'); /*heading font*/

@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap'); /*content font*/

body
{ 
    background-image: url("/home/karthik/SolarSystemProject/SolarSystem/HTML/Images/sky_bg.jpeg");
    color:aliceblue;
}
.head{
    text-align: center;
}

#back{
    height: 3%;
    width: 1.5%;
    float:left;
}

#heading{
    font-family: 'Modern Antiqua', cursive;
    font-size: 250%;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}

#home{
    height: 3%;
    width: 1.5%;
    float: right;
}

#pimg{
    height: 45%;
    width: 22.5%;
    padding: 0.5%;
    float: left;
    transform: scale(0.45);
    filter: brightness(1.1);
    animation: rotation 150s infinite linear;
}

#content{
    font-family: 'Stoke', serif;
    text-align: justify;
    font-size: 150%;
}

table{
    margin:auto;
    font-size: 225%;
    background-color: rgba(66, 65, 65, 0.4);
    border-radius: 1%;
}

th, td{
    text-align: center;
    padding: 8px;
}

#none 
{
    font-size:x-large;
    background-color: unset;
    width: 100%;
}


ol, li{
    padding-bottom: 1%;
    text-align: justify;
    font-size: 125%;
    font-family: 'Stoke', serif;
}

#hac{ /*for homepage, asteroids & comets files*/
    height: 48%;
    width: 58%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

@keyframes rotation 
{
    from
    { -webkit-transform: rotate(0deg); }
    to
    { -webkit-transform: rotate(360deg); }
}