@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap'); /*heading font*/

@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap'); /*content font*/

body
{ 
    background-image: url("/home/karthik/SolarSystemProject/SolarSystem/HTML/Images/sky_bg.jpeg");
    color:aliceblue;
}

.head
{
    text-align: center;
}

#back
{
    height: 25px;
    width: 30px;
    float:left;
}

#heading
{
    font-family: 'Modern Antiqua', cursive;
    font-size: 40px;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}

#home
{
    height: 25px;
    width: 30px;
    float: right;
}

#pimg
{
    height: 400px;
    width: 400px;
    padding: 5px;
    float: left;
    transform: scale(0.45);
    filter: brightness(1.1);
    animation: rotation 150s infinite linear;
}

#content
{
    font-family: 'Stoke', serif;
    text-align: justify;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.4);
}

table
{
    margin:auto;
    font-size: 35px;
    background-color: rgba(66, 65, 65, 0.4);
    border-radius: 8px;
}

th, td
{
    text-align: center;
    padding: 8px;
}

ol, li
{
    padding-bottom: 10px;
    text-align: justify;
    font-size: 25px;
    font-family: 'Stoke', serif;
    background-color: rgba(14, 14, 14, 0.4);
}

#hac /*for homepage, asteroids & comets files*/
{
    height: 480px;
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}

@keyframes rotation 
{
    from
    { -webkit-transform: rotate(0deg); }
    to
    { -webkit-transform: rotate(360deg); }
}