@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap'); /*heading font*/

@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap'); /*content font*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 40px;
}

body {
    background-image: url("/HTML/Images/sky_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

main {
    display: grid;
    row-gap: 3%;
}

section {
    display: grid;
    justify-items: center;
    row-gap: 1%;
}

img{
    max-width: 100%;
}

ol{
    list-style:decimal inside;
}

ul{
    list-style: inside;
}

.textAligner{
    text-align: center;
}

.heading, .subHeading{
    font-family: 'Modern Antiqua', cursive;
    font-weight: bold;
    font-size: 1em;
    justify-self: start;
    margin: 1%;
}


.subHeading{
    font-size: 0.8em;
}

.content {
    font-family: 'Stoke', serif;
    font-size: 0.6em;
    text-align: justify;
    margin: 1%;
}

@media (max-width: 630px) {

    html {
        font-size: 24px;
    }
}

#pimg{
    height: 45%;
    width: 22.5%;
    padding: 0.5%;
    float: left;
    transform: scale(0.45);
    filter: brightness(1.1);
    animation: rotation 150s infinite linear;
} 
/* 
table{
    margin:auto;
    font-size: 225%;
    background-color: rgba(66, 65, 65, 0.4);
    border-radius: 1%;
}

td{
    text-align: center;
    padding: 8px;
}

#none 
{
    font-size:x-large;
    background-color: unset;
    width: 100%;
} */

/*
#hac{ /*for homepage, asteroids & comets files
    height: 48%;
    width: 58%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    margin-top: 1%;
}
*/
@keyframes rotation 
{
    from
    { -webkit-transform: rotate(0deg); }
    to
    { -webkit-transform: rotate(360deg); }
}