* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.posAbs {
  position: absolute;
}

#solarsystem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.sunContainer {
  position: relative;
}

#sunImage {
  animation: rotation 300s infinite linear;
  /*sun rotation*/
}

.mercuryContainer {
  bottom: -5%;
  right: 5%;
}

#mercuryImage {
  animation: rotation-1 80s infinite linear;
  /*mercury rotation*/
}

.venusContainer {
  top: -20%;
  right: -40%;
}

#venusImage {
  animation: rotation-2 90s infinite linear;
  /*venus rotation*/
}

.earthContainer {
  top: -50%;
  left: -30%;
}

#earthImage {
  animation: rotation-3 60s infinite linear;
  /*earth rotation*/
}

.moonContainer {
  top: -15%;
  right: 0%;
}

#moonImage {
  animation: rotation-4 120s infinite linear;
  /*moon rotation*/
}

.marsContainer {
  bottom: 0%;
  left: -75%;
}

#marsImage {
  animation: rotation-5 70s infinite linear;
  /*mars rotation*/
}

.jupiterContainer {
  bottom: -30%;
  right: -90%;
}

#jupiterImage {
  animation: rotation-6 10s infinite linear;
  /*jupiter rotation*/
}

.saturnContainer {
  top: -50%;
  right: -180%;
}

#saturnImage {}

.uranusContainer {
  top: -10%;
  left: -130%;
}

#uranusImage {
  animation: rotation-7 40s infinite linear;
  /*uranus rotation*/
}

.neptuneContainer {
  bottom: -50%;
  left: -190%;
}

#neptuneImage {
  animation: rotation-8 50s infinite linear;
  /* neptune rotation */
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-1 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-2 {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotation-3 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-4 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-5 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-6 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation-7 {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotation-8 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@media (max-width:900px) {

  .jupiterContainer {
    bottom: -100%;
    right: -70%;
  }

  .saturnContainer {
    top: -130%;
    right: -30%;
  }

  .uranusContainer {
    top: -160%;
    left: -60%;
  }

  .neptuneContainer {
    bottom: -150%;
    left: -60%;
  }
}

@media (max-width: 500px) {

  .jupiterContainer {
    bottom: -100%;
    right: -50%;
  }
}

@media (orientation: landscape) and (max-width:900px) {
  .saturnContainer {
    top: -60%;
    right: -150%;
  }

  .uranusContainer {
    top: -10%;
    left: -140%;
  }

  .neptuneContainer {
    bottom: -130%;
    left: -60%;
  }
}