* {
  box-sizing: border-box;
  
  }
  #background-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:fixed;
    }
  
body { 
  margin: 0;
  position: absolute;
  
}

#back                         /*back navigation icon*/
{
    height: 0.5in;
    width: 0.5in;
    position: absolute;
    top: -2.1in;
    left: -2.8in;

}
.sun{                         /*sun*/
  display: inline-block; 
  transform: scale(0.60);
  filter: brightness(1.1);
  image-rendering: crisp-edges;
}
#first{                      /*sun*/
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 3in;
  left: 9in;
  
}

.mercury{                    /*mercury*/
  display: inline-block;
  transform: scale(0.1);
  
}

#second{                         /*mercury*/
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left:100in;
  top: 59in;
}
.venus{                               /*venus*/
  display: inline-block;
  transform: scale(1.3);
  
}
#third{                               /*venus*/
  position:absolute;
  display: inline-block;
  cursor: pointer;
  left: 100in;
  top: -10in;
  
}

.earth{                             /*earth*/
  display: inline-block;
  cursor: pointer;
  transform: scale(1.3);
}
#fourth{                           /*earth*/
  display: inline-block;
  position: absolute;
  left: 45in;
  bottom: 28in;
  
}
.mars{                              /*mars*/
  display: inline-block;
  transform: scale(1.3);
}

#sixth{                              /*mars*/
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 15in;
  left: -6in;
}

.jupiter{                           /*jupoter*/
  display: inline-block;
  cursor: pointer;
  transform: scale(2.7);
}
#seventh{                           /*jupiter*/
  display: inline-block;
  position:absolute;
  top: 18in;
  left: 55in;

}
.saturn{                            /*saturn*/
  display: inline-block;
  cursor: pointer;
  transform: scale(6.2);

}
#eight{                            /*saturn*/
  display: inline-block;
  position: absolute;
  left: 26in;
  top: -8in;
 
}
.uranus{                           /*uranus*/
  display: inline-block;
  transform: scale(1.65);
  cursor: pointer;
}
#ninth{                            /*uranus*/
  display: inline-block;
  position: absolute;
  right: 10in;
  top: -25in;

}
.neptune{                          /*neptune*/
  display: inline-block;
  cursor: pointer;
  transform: scale(2.15);
}
#tenth{                           /*neptune*/
  display: inline-block;
  position: absolute;
  top: 30in;
  right: 18in;
  
}
.moon{                            /*moon*/
display: inline-block;
transform: scale(0.45);
cursor: pointer;
}
#fifth{                            /*moon*/
  display: inline-block;
  position: relative;
  bottom: 106in;
  left: 152in;
}
#first {                                  /*sun rotation*/
  animation: rotation 30s infinite linear;
}

#second {                                 /*mercury rotation*/
  animation: rotation-1 65s infinite linear;

}

#third{                                   /*venus rotation*/
  animation: rotation-2 120s infinite linear;
}

#fourth{                                   /*earth rotation*/
  animation: rotation-3 100s infinite linear;
}
#fifth{                                         /*moon rotation*/
  animation: rotation-4 200s infinite linear;
}
#sixth{                                       /*mars rotation*/
  animation: rotation-5 250s infinite linear; 
}
#seventh{                                       /*jupiter rotation*/
  animation: rotation-6 30s infinite linear; 
}
#ninth{                                         /*uranus rotation*/
  animation: rotation-7 10s infinite linear;
}
#tenth{                                         /* neptune rotation */
  animation: rotation-8 100s infinite linear; 
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(360deg);
  }
}
 @keyframes rotation-1 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
  
}
@keyframes rotation-2{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation-3 {
from{
  -webkit-transform: rotate(0deg);
}
to{
  -webkit-transform: rotate(360deg);
}

}
@keyframes rotation-4 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }

}
@keyframes rotation-5 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation-6 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@keyframes  rotation-7 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
@keyframes  rotation-8 {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}